@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
h1 {
  font-size: 4.5rem;
  line-height: 6rem;
}

h2 {
  font-size: 4rem;
  line-height: 5rem;
}

h3 {
  font-size: 3rem;
  line-height: 4rem;
}

h4 {
  font-size: 2rem;
  line-height: 3rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

p.large {
  font-size: 1rem;
  line-height: 2rem;
}
p.medium {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
p.small {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.container {
  width: 75rem;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.navbar {
  padding-top: 40px;
}
.navbar .nav_list {
  display: flex;
}
.navbar .nav_list--item {
  color: white;
  list-style-type: none;
  padding: 0 2rem 0 0;
}
.navbar .nav_list--item a {
  color: white;
  text-decoration: none;
}

.main_button {
  border: 1px solid #1E50FF;
  padding: 12px 16px 12px 16px;
  border-radius: 16px;
  gap: 10px;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
}

.slider_button {
  padding: 12px 16px;
  background: #1E50FF;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: 16px;
}

.auctions_button {
  min-width: 129px;
  padding: 8px 16px;
  border-radius: 16px;
  background: #1E50FF;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  background-repeat: 16px;
  border: none;
  box-shadow: 8px 8px 18px rgba(30, 80, 255, 0.25);
}

.slider {
  margin-top: 88px;
  margin-bottom: 48px;
}
.slider .slider_content--wrapper {
  margin-right: 48px;
}
.slider .slider_content--wrapper h2 {
  color: white;
}
.slider .slider_content--wrapper p {
  color: rgb(173, 185, 199);
}

.partners {
  margin-top: 72px;
}
.partners .partners_wrapper {
  margin-right: 2.625rem;
}

.nft {
  margin-top: 150px;
  margin-bottom: 160px;
}
.nft h3 {
  text-align: center;
  color: white;
}
.nft .nft_wrapper {
  text-align: center;
  padding: 56px 46px 56px 32px;
  margin-right: 26px;
  border-radius: 16px;
  background-color: #272D37;
}
.nft .nft_wrapper h5 {
  color: white;
}
.nft .nft_wrapper p {
  color: #ADB9C7;
}

.auctions .auctions_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auctions .auctions_heading h3 {
  color: white;
}
.auctions .auctions_heading button {
  width: 176px;
}
.auctions .auctions_wrapper {
  margin-right: 24px;
  padding: 24px;
  border-radius: 24px;
  background-color: #272D37;
}
.auctions .auctions_wrapper--quote {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.auctions .auctions_wrapper--quote h6 {
  margin: 0;
  color: white;
}
.auctions .auctions_wrapper--quote p {
  color: #ADB9C7;
}
.auctions .auctions_wrapper--quote .auctions_id, .auctions .auctions_wrapper--quote .auctions_timer {
  display: flex;
  align-items: center;
}
.auctions .auctions_wrapper--quote .auctions_id p, .auctions .auctions_wrapper--quote .auctions_timer p {
  margin-left: 8px;
}

body {
  background-color: rgb(2, 5, 14);
  font-family: "Poppins", sans-serif;
}