.nft{
    margin-top: 150px;
    margin-bottom: 160px;
    h3{
        text-align: center;
        color: white;
    }
    .nft_wrapper{
        text-align: center;
        padding: 56px 46px 56px 32px;
        margin-right: 26px;
        border-radius: 16px;
        background-color: #272D37;
        h5{
            color: white;
        }
        p{
            color: #ADB9C7;
        }
    }
}