.slider{
    margin-top: 88px;
    margin-bottom: 48px;
    .slider_content--wrapper{
        margin-right: 48px;
        h2{
            color: white;
        }
        p{
            color: rgba(173, 185, 199, 1);
        }
    }
}