.main_button{
    border: 1px solid #1E50FF;
    padding: 12px 16px 12px 16px;
    border-radius: 16px;
    gap: 10px;
    background: transparent;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    cursor: pointer;
}
.slider_button{
    padding: 12px 16px;
    background: #1E50FF;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    border-radius: 16px;
    cursor: pointer;
}
.auctions_button{
    min-width: 129px;
    padding: 8px 16px;
    border-radius: 16px;
    background: #1E50FF;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    background-repeat: 16px;
    border: none;
    box-shadow: 8px 8px 18px rgba(30, 80, 255, 0.25);
    cursor: pointer;
}
.create_button{
    margin-top: 40px;
    padding: 16px 40px;
    color: #1E50FF;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 700;
    border: none;
    background-color: #ffffff;
    border-radius: 16px;
}